# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Vector database
vector_store/

# Uploaded PDFs
uploads/

# OS files
.DS_Store
Thumbs.db